@import "inc/_vars.scss";

html, body {
    font-family: $ff-quicksand;
    font-size: $fz-default;
    background-color: white;
    color: $clr-asabache;
}

#main-nav {
    width: 100%;
    background-color: rgba(white, 0.2);
    border-bottom: 1px solid $clr-asabache;
    padding: 0 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    
    .logo {
        width: 200px;
        height: 70px;
        background: url("../media/assets/logo-bold.svg") center center / contain no-repeat;
    }
    
    .box-links {
        & > * {
            display: inline-block;
            vertical-align: middle;
        }
        a {
            padding: 10px;
            color: $clr-asabache;
            font-weight: bold;
        }
        span.sep {
            border-left: 1px solid $clr-asabache;
            width: 0px;
            height: 40px;
        }
    }
}