{% extends "_base.twig" %}

{% block content %}

<header>
    <div class="container">
        <h1>{{ catprms.name }}</h1>
    </div>
    <img src="{{ site.theme.link }}/media/assets/header-bg.svg" class="img-fluid">
</header>

<article class="container">
    {% include tpl_part %}
    
</article>

{% endblock %}