<form action="{{ site.url }}" role="search" class="searchBox" method="get">
    <input class="form-control" type="text" name="s" placeholder="{{ i18n['search.placeholder_input'] }}" value="{{ default_keyword }}">
    <button type="submit" class="icn-search"></button>
</form>