@import "_vars.scss";

main.archive {
    
    @if ($vp == "desktop") {    
        header {
            position: relative;

            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%);

                h1 {
                    font-family: $ff-sacramento;
                    font-size: toRem(80);
                    color: white;
                }
            }
        }

        & > .container {
            transform: translateY(-70px);
        }
        
        //Estilos para la seccion de Busqueda.
        &.search {
            header > .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    
    @if ($vp == "mobile") {
        header {
            position: relative;

            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);

                h1 {
                    font-family: $ff-sacramento;
                    font-size: toRem(60);
                    color: white;
                    text-align: center;
                }
            }
            
            //Mobile
            @media(min-width: 1px) and (max-width: 768px) {
                & {
                    display: block;
                    width: 100%;
                    background-color: #674B73;
                }
                
                & > img {display: none;}
                
                .container {
                    position: relative;
                    top: 0px;
                    left: 0;
                    transform: translate(0, 0);
                    padding: 20px 10px 10px 10px;
                    margin-bottom: 20px;
                    
                    h1 { font-size: toRem(50) }
                }
            }
        }
        
        //Tablet
        @media(min-width: 768px) {
            & > section.container {
                transform: translateY(-20px);
            }
        }
    }
}