@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Sacramento");
.h1, .fz75 {
  font-size: 4.16667rem;
  line-height: 4.55556rem;
}

.ls2px {
  letter-spacing: 2px;
}

.h2, .fz54 {
  font-size: 3rem;
  line-height: 3.38889rem;
}

.ls4px {
  letter-spacing: 4px;
}

.h3, .fz42 {
  font-size: 2.33333rem;
  line-height: 2.72222rem;
}

.ls6px {
  letter-spacing: 6px;
}

.h4, .fz32 {
  font-size: 1.77778rem;
  line-height: 2.16667rem;
}

.ls8px {
  letter-spacing: 8px;
}

.h5, .fz24 {
  font-size: 1.33333rem;
  line-height: 1.72222rem;
}

.ls10px {
  letter-spacing: 10px;
}

.h6, .fz18 {
  font-size: 1rem;
  line-height: 1.38889rem;
}

.ls12px {
  letter-spacing: 12px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-inherit {
  font-weight: inherit;
}
