html, body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  background-color: white;
  color: #2C3E50;
  font-weight: 500;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid #2C3E50;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 0.5) 100%);
}

#main-nav.sticky-mode {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0;
}

#main-nav .logo {
  width: 200px;
  height: 50px;
  background: url("../media/assets/logo-bold.svg") center center/contain no-repeat;
}

#main-nav .box-links > * {
  display: inline-block;
  vertical-align: middle;
}

#main-nav .box-links a, #main-nav .box-links .alink {
  padding: 10px;
  color: #2C3E50;
  font-weight: bold;
}

#main-nav .box-links span.sep {
  border-left: 1px solid #2C3E50;
  width: 0px;
  height: 40px;
}

.sec {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
}

.sec.bg-gray {
  background-color: #ECF0F1;
}

.sec.pd-x2 {
  padding: 20px 0;
}

.sec.pd-x4 {
  padding: 40px 0;
}

.sec.pd-x6 {
  padding: 60px 0;
}

.sec.pd-x8 {
  padding: 80px 0;
}

.sec.pd-x10 {
  padding: 100px 0;
}

#main-footer {
  display: block;
  width: 100%;
  padding: 50px 0;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 0 5px;
          box-shadow: rgba(0, 0, 0, 0.3) -1px 0 5px;
}

#main-footer .logo {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 10px auto;
}

#main-footer .row > div:nth-of-type(1) {
  border-right: 1px solid #2C3E50;
}

#main-footer a {
  color: #2C3E50;
}

#asidePart .paymentProductBox {
  display: block;
  text-align: center;
}

#asidePart .paymentProductBox .leyendPaypal {
  margin-top: 5px;
}

#asidePart .subcatBox {
  display: block;
}

#asidePart .subcatBox .content {
  display: block;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}

#asidePart .subcatBox .item {
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid #2C3E50;
  color: #2C3E50;
}

#asidePart .subcatBox .item:last-of-type {
  border: none;
}

#asidePart .subcatBox .item:hover {
  text-decoration: none;
  background-color: #ECF0F1;
}

#asidePart .greatPosts {
  display: block;
}

#asidePart .greatPosts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
  color: #2C3E50;
}

#asidePart .greatPosts .item:hover {
  text-decoration: none;
  background-color: #ECF0F1;
}

#asidePart .greatPosts .item .img-thumb {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #2C3E50;
  background-size: cover;
  background-position: center center;
}

#asidePart .greatPosts .item .content {
  padding: 0 0 0 10px;
}

#asidePart .downloadBox {
  display: block;
  margin-bottom: 30px;
}

#asidePart .downloadBox.premium {
  padding: 10px 15px 0px 15px;
  border: 1px solid #2C3E50;
  border-radius: 5px;
}

#asidePart .downloadBox .content {
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

#asidePart .downloadBox .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5px 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #2C3E50;
}

#asidePart .downloadBox .item > a {
  color: #2C3E50;
}

#asidePart .downloadBox .item > a[download] {
  position: relative;
  padding: 0 10px;
  border-radius: 30px;
  border: 1px solid #2C3E50;
}

#asidePart .downloadBox .item > a[download]:hover {
  text-decoration: none;
  background-color: #ECF0F1;
}

#asidePart .downloadBox .item:last-of-type {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

main.home .registryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.home .registryBox > div {
  padding: 0 0 30% 0;
}

main.home .registryBox .bgImage {
  background-size: cover;
  background-position: center center;
}

main.home .registryBox .info {
  position: relative;
}

main.home .registryBox .info .content {
  width: 90%;
  min-width: 480px;
  max-width: 600px;
  height: auto;
  padding: 30px 50px;
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transform: translate(0%, -60%);
          transform: translate(0%, -60%);
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
}

main.home .registryBox .info .content .special-content div:nth-of-type(1) {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
}

main.home .registryBox .info .content .special-content div:nth-of-type(2) {
  font-size: 6.11111rem;
  line-height: 5.55556rem;
  font-weight: bold;
  text-align: center;
}

main.home .registryBox .info .content .special-content div:nth-of-type(3) {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  text-align: center;
}

main.home .registryBox .info .content .special-content .btn-exodus {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

main.archive header {
  position: relative;
}

main.archive header .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

main.archive header .container h1 {
  font-family: "Sacramento", cursive;
  font-size: 4.44444rem;
  color: white;
}

main.archive > .container {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

main.archive.search header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.single .contentPost {
  padding-bottom: 30px;
}

main.single .contentPost .shareBox {
  margin-top: 30px;
}

main.single .contentPost .shareBox > b {
  position: relative;
  top: -4px;
}

main.single .contentPost .shareBox > * {
  padding: 0 5px;
}
