{% extends "_base.twig" %}

{% block content %}

<article class="container">
    <br>
    <h1 class="text-center">{{ post.title }}</h1>
    <br>
    {{ post.post_content|wpautop }}
    <br>
</article>

{% endblock %}