<div class="lightbox">
    <div class="content w-12 w-md-8 w-lg-6">
        <button class="btn-close"><i class="fa fa-times"></i></button>
        <div class="dbody">
            <div class="row">
                <div class="col-6">
                    <p class="h5 fw-bold text-center">Acceder a mi cuenta</p>
                    <br>
                    
                    <form name="loginform" id="loginform" action="{{ site.url}}/wp-login.php" method="post">
                        <p>
                            <label for="user_login">Nombre de usuario o dirección de correo<br>
                            <input type="text" name="log" id="user_login" aria-describedby="login_error" class="input" value="" size="20"></label>
                        </p>
                        <p>
                            <label for="user_pass">Contraseña<br>
                            <input type="password" name="pwd" id="user_pass" aria-describedby="login_error" class="input" value="" size="20"></label>
                        </p>
                            <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Recuérdame</label></p>
                        <p class="submit">
                            <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Acceder">
                            <input type="hidden" name="redirect_to" value="http://almaconsciente.test/wp-admin/">
                            <input type="hidden" name="testcookie" value="1">
                        </p>
                    </form>
                    <!--
                    <form action="{{ site.url }}/wp-admin.php" method="post" name="loginform" id="loginForm" class="row">
                        <label class="col-12">
                            <span class="h8">Nombre de usuario o dirección de correo</span>
                            <br>
                            <input type="text" name="log" class="form-control">
                        </label>
                        
                        <label class="col-12">
                            <span class="h8">Contraseña</span>
                            <br>
                            <input type="password" name="pwd" class="form-control">
                        </label>
                        
                        <label class="col-6">
                            <input type="checkbox" name="rememberme" value="forever">
                            <span class="h8">Recuerdame</span>
                        </label>
                        
                        <label class="col-6 text-right">
                            <input type="submit" name="wp-submit" class="btn btn-exodus" value="Acceder">
                        </label>
                        <input type="hidden" name="interim-login" value="1">
                        <input type="hidden" name="testcookie" value="1">
                    </form>
                    -->
                </div>
                <div class="col-6">
                    <p class="h5 fw-bold text-center">Registrarme</p>
                </div>
            </div>
        </div>
    </div>
</div>