@import "_vars.scss";

nav.pagination-block {
    display: block;
    width: 100%;
    
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
        li {
            padding: 0 10px;
            font-weight: bold;
            
            &:first-of-type { padding-left: 0px; }
            &:last-of-type { padding-right: 0px; }
            
            &.disabled { opacity: 0.2; }
            
            a, button, &.current span {
                display: block;
                padding: 5px 13px;
                border: 1px solid $clr-asabache;
                background-color: white;
                color: $clr-asabache;
            }
            
            &:not(.disabled) a:hover,
            &:not(.disabled) button,
            &.current span {
                background-color: $clr-cloud;
                text-decoration: none;
            }
        }
    }
}